.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo-container {
  flex: 0 0 auto;
  text-align: left;
}

.logo-container img {
  width: 750px;
  height: auto;
}

.login-container {
  flex: 0 0 auto;
  width: 30%;
  margin-left: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .form-group {
  width: 100%;
  margin-bottom: 15px;
}

.login-form .form-group input {
  width: 100%;
}

.form-group {
  text-align: left;
}

.login-form .login-button {
  background-color: blue;
  color: white;
  padding: 8px 15px;
  border: none;
  width: 25%;
  align-self: flex-start;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.login-form .login-button:hover {
  background-color: darkblue;
}

.bold-label {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: auto;
}
